chuong4_bai3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="KHOSACH">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="LINHVUC">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="newElement"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
