QLDia.dtd

<!ELEMENT SPECIALS (TITLE, MESSAGE, CD)+ >

<!ELEMENT TITLE (#PCDATA) >
<!ELEMENT MESSAGE (#PCDATA) >
<!ELEMENT CD (#PCDATA | ARTIST | PRICEUS | PRICEVN | TRACK)* >

<!ELEMENT ARTIST (#PCDATA) >
<!ELEMENT PRICEUS (#PCDATA) >
<!ELEMENT PRICEVN (#PCDATA) >
<!ELEMENT TRACK (#PCDATA| LENGTH)* >

<!ELEMENT LENGTH (#PCDATA) >