Untitled1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="note">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="to"/>
                <xs:element name="from"/>
                <xs:element name="header"/>
                <xs:element name="body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
