Chuong3/bai6_QLBanHang.dtd

<!ELEMENT document (order) >
<!ELEMENT order (orderday, customer, (productID, quantity)+, catalog) >
<!ELEMENT orderday (#PCDATA) >
<!ELEMENT customer (#PCDATA) >
<!ELEMENT productID (#PCDATA) >
<!ELEMENT quantity (#PCDATA) >
<!ELEMENT catalog (catagoryname, cproductID, productname)+ >
<!ELEMENT catagoryname (#PCDATA) >
<!ELEMENT cproductID (#PCDATA) >
<!ELEMENT productname (#PCDATA) >